@font-face {
    font-family: 'ISB';
    src: url(../Fonts/Inter-SemiBold.ttf);
}
@font-face {
    font-family: 'RR';
    src: url(../Fonts/Rubik-Regular.ttf);
}
@font-face {
    font-family: 'RM';
    src: url(../Fonts/Rubik-Medium.ttf);
}
@font-face {
    font-family: 'RSB';
    src: url(../Fonts/Rubik-SemiBold.ttf);
}