*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ISB';
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header-nav{
    background: #3E8989;
}
.header-nav-container{
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav-list{
    display: flex;
    gap: 30px;
}
.header-nav-link{
    font-size: 16px;
    line-height: 19px;
    padding: 5px 0;
    color: #FFFFFF;
    border-bottom: 3px solid transparent;
    border-radius: 2px;
    transition: border-bottom 300ms;
}
.header-nav-link:hover{
    border-bottom: 3px solid #FFFFFF;
}
.header-nav-search{
    display: flex;
    max-width: 290px;
    width: 100%;
}
.header-nav-search-field{
    border-radius: 20px 0px 0px 20px;
    outline: none;
    border: none;
    padding: 8px 20px;
    width: 100%;
    font-family: 'RR';
}
.header-nav-search-button{
    background: #295E5E;
    border-radius: 0px 20px 20px 0px;
    padding: 9px 14px;
    border: none;
    color: #FFFFFF;
    font-family: 'RR';
}
.header-content{
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../images/pic.jpg) no-repeat center /cover;
}
.header-content-title{
    font-size: 80px;
    line-height: 95px;
    color: #FFFFFF;
    font-family: 'RSB';
}
.header-content-text{
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    font-family: 'RM';
}
.header-content-btn{
    margin-top: 50px;
    background: #B4436C;
    border-radius: 30px;
    padding: 17px 78px;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    transition: color 300ms, background 300ms;
}
.header-content-btn:hover{
    color: #B4436C;
    background: #FFFFFF;
}
.title{
    margin-top: 80px;
    text-align: center;
    font-size: 40px;
    line-height: 48px;
    color: #3E8989;
}
.main-title{
    margin-bottom: 50px;
}
.main-container{
    display: flex;
    gap: 5px;
}
.main-text{
    font-family: 'RR';
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    overflow: auto;
}
.left{
    max-width: 550px;
    width: 100%;
    background: url(../images/pic1.jpg) no-repeat center /cover;
}
.right{
    max-width: 550px;
    width: 100%;
    height: 265px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.catalog-title{
    margin-bottom: 54px;
}
.catalog-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.catalog-box-up{
    width: 263px;
    max-width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EFEFEF;
}
.catalog-box-down{
    text-align: center;
    padding: 30px 0;
}
.clothes-link{
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    transition: color 300ms;
}
.clothes-link:hover{
    color: #B4436C;
}
.catalog-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.contacts-title{
    padding: 0 15px;
    font-size: 40px;
    line-height: 48px;
    color: #3E8989
}
.contacts-container{
    padding: 100px 0;
}
.contacts-box{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    gap: 15px;
}
.contacts-box-left{
    max-width: 555px;
    width: 100%;
}
.contacts-text{
    font-family: 'RR';
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    overflow: auto;
}
.contacts-link{
    display: block;
    font-family: 'RR';
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.contacts-link:first-of-type{
    margin-bottom: 20px;
}
.contacts-list{
    column-gap: 5px;
}
.footer{
    background: #3E8989;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-list{
    margin-top: 40px;
    display: flex;
    gap: 30px;
}
.footer-link{
    font-family: 'RM';
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF
}
.footer-text{
    margin-top: 59px;
    margin-bottom: 15px;
    font-family: 'RR';
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

/* Медиа запросы */

@media(max-width: 1200px){
    .catalog-container{
        justify-content: center;
    }
}

@media(max-width:900px){
    .header-nav-container{
        gap: 15px;
        flex-direction: column;
    }
    .header-content{
        height: 600px;
    }
    .header-content-title{
        font-size: 60px;
        line-height: 65px;
    }
    .title{
        font-size: 30px;
        line-height: 30px;
    }
}
@media(max-width:576px){
    .header-content-text{
        font-size: 33px;
        line-height: 35px;
    }
    .contacts-title{
        font-size: 30px;
        line-height: 25px;
    }
    .contacts-text{
        font-size: 17px;
        line-height: 19px;
    }
    .contacts-link{
        font-size: 17px;
        line-height: 19px;
    }
}